.container_principal h4 {
    color: #888888;
}

body {
    background-color: #eeeeff;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container_principal {
    background-color: white;
    width: 800px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.default_table{
    text-align: center;
}

.default_table td{
    padding: 3px 3px;
    width: 120px;
}

.default_table tr:nth-child(even) {
    background-color: #eeeeee;
}

.default_table tr:last-child {
    background-color: #bb0000;
    color: #ffffff;
}

.default_table td:nth-child(1) {
    width: 200px;
    text-align: left;
}

p {
    color: #888888;
    font-size: 10px;
    text-align: right;
    float: right;
}